.live-stream-item {
  padding: 10px;
}

.game-img , .player-img {
    border-radius: var( --border-raduis-primary);
}

.live-stream-content {
    display: flex;
    margin-top: 20px
}

.player-name {
    color: var(--color-primary);
    padding-left: 15px;
    
}

.description {
    color: #FFF;
    font-size: calc(var(--font-size-primary) /2);
    padding-left: 15px;
}